    <footer class="footer">
      <div class="p2 wrap">
        <div class="measure mt1 center">
      {{ partial "social_links.html" . }}
          <small>
            Copyright &copy; 2000 - 2020 by fLaMEd. All rights reversed. Don't jack.
          </small>
        </div>
      </div>
    </footer>

    <!-- Highlight -->
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- Google Analytics -->
    {{ partial "google_analytics.html" . }}
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    
</body>
</html>
